@model NextBirthday.Models.Birthday

@{
    ViewBag.Title = "Add a new birthday";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h1>Add a new birthday</h1>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        @Html.LabelFor(model => model.Name):
    </div>
    <div style="margin-bottom: 10px;">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div>
        @Html.LabelFor(model => model.Birthdate):
    </div>
    <div>
        @Html.EditorFor(model => model.Birthdate)
        @Html.ValidationMessageFor(model => model.Birthdate)
    </div>

    <div>
        <p>
            <input type="submit" value="Add birthday" />
        </p>
    </div> 
}