@model NextBirthday.Models.Birthday

@{
    ViewBag.Title = "Update a birthday";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h1>Update a birthday</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "An error occured, correct the invalid data and try again")
    @Html.HiddenFor(model => model.BirthdayId)
    
    <div>
        @Html.LabelFor(model => model.Name):
    </div>
    <div style="margin-bottom: 10px;">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div>
        @Html.LabelFor(model => model.Birthdate):
    </div>
    <div>
        @Html.EditorFor(model => model.Birthdate)
        @Html.ValidationMessageFor(model => model.Birthdate)
    </div>

    <div>
        <p>
            <input type="submit" value="Update birthday" />
        </p>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
