@model IEnumerable<NextBirthday.Models.Birthday>

@{
    ViewBag.Title = "Next birthday!";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h1>Next birthday!</h1>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <strong>@Html.DisplayFor(modelItem => item.Name)</strong> will be turning @Html.DisplayFor(modelItem => item.Age) on a
                @item.NextBirthdayDate.ToString("dddd") <strong>in @Html.DisplayFor(modelItem => item.DaysUntilNextBirthday) days</strong>. 
                @Html.ActionLink("Edit", "Edit", new { id = item.BirthdayId })
            </li>
        }
    </ul>
}
<p>
    @Html.ActionLink("Add new birthday", "Create")
</p>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>