@model NextBirthday.Models.Birthday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Next birthday</title>
</head>
<body>
    <h1>Next birthday</h1>
    <p>@Model.Name will be turning @Model.Age on a @Model.NextBirthdayDate.ToString("dddd") in @Model.DaysUntilNextBirthday days.</p>
    <p>@Html.ActionLink("Go back", "Index")</p>
</body>
</html>
